h1{
	color: red;
	font-size: 30px;
	
}
h2{
	color: red;
	background-color: green;
}
h3{
	color:white;
	background-color: green;

}
.par2{
	text-align: center:
}
.em2{
	font-weight: bold;
}
.em3{
	font-size: 40px;
	color: red;
}
.em4{
	font-size: 30px;
	color: red;
}
.em5{
	font-size: 30px;
	color: red;
}
.em6{
	color: red;
	background-color: yellow;
}
.st1{
	color: white;
	background-color: gray;
}
.par6{
	color: black;
	background-color: red;
}
.par7{
	color: black;
	background-color: green;
}
.u1{
	color: white;
	background-color: green;
}
.par8{
	color: white;
	background-color: black;
}
.par9{
	background-color: grey;
}

h4{
	color:white;
	background-color: blue;

}
.titulos{
	font-size: 30px;
	color: green;


}
.tdg{
	text-align: center;
	background-color: #95FFA2;
}
.tdj{
	text-align: left: ;
	background-color:#FBE244;

}
.negro{		
   color:white;
   background-color: black;
}
.azul{
   color:blue;

}
















